.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    margin: 20px 10px;
}

.content-box {
    display: flex;
    width: 100%;
}

.text-box, .image-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
	font-size: 40px;
}

.image-box img {
    max-width: 40%;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5dfc9;
	font-size: 20px;
}
header {
    background-color: #99815c;
    text-align: center;
    padding: 10px;
}
h1 {
    color: #e0b47b;
	font-size: 100px;
}
nav {
    margin-top: 20px;
	font-size: 40px;
}
button {
    background-color: #e0b47b;
    border: none;
    padding: 20px 80px;
    margin: 30px;
	font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.image-caption {
    text-align: left;
    margin-top: 10px;
    font-size: 45px; 
    color: #333; 
}
.text-box h2 {
    font-size: 40px; 
}
.text-box h3 {
    font-size: 40px; 
}
button:hover {
    background-color: #Ded1c8;
}
footer {
    text-align: Right;
    margin-top: 60px;
    background-color: #99815c;
    padding: 10px;
	font-size: 40px;
}