body {
    font-family: Arial, sans-serif;
    background-color: #f5dfc9;
	font-size: 40px;
}

header {
    background-color: #99815c;
    text-align: center;
    padding: 30px;
}
h1 {
    color: #e0b47b;
	font-size: 70px;
}
nav {
    margin-top: 20px;/**/
}
button {
    background-color: #e0b47b;
    border: none;
    padding: 20px 40px;
    margin: 60px;
	font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}
}
.text-box h2 {
    font-size: 20px; 
}
.text-box h3 {
    font-size: 25px; 
}
button:hover {
    background-color: #Ded1c8;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.image-box {
    width: 400px;
    height: 400px;
    background-color: #dddoc8;
    margin-right: 10px;
    cursor: pointer;
}
.image-box img {
    width: 80%;
    height: auto;
    display: block;
}
.text-box {
    width: 400px;
    height: 400px;
    background-color: #Ded1c8;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
h2, h3 {
    margin: 20px;
    color: #99815c;
}
footer {
    text-align: center;
    margin-top: 60px;
    background-color: #99815c;
    padding: 10px;
}
